<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>

    @foreach(KeyValuePair<string, string> name in ViewBag.events)
    {
        <tr>
            <td>@name.Key</td>
            <td>@name.Value</td>
        </tr>
    }
</table>